@import 'variables';
@import '~bulma/bulma.sass';

body {
    background-color: $body-bg;
    color: $text;
}

ul, li {
    list-style: none;
}

.navbar {
    background-color: $body-bg;
}

.label {
    color: $text;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

